<div id="wrapper" [class.toggled]="toggled">
  <div id="sidebar-wrapper">
    <app-navbar></app-navbar>
  </div>
  <!-- Page Content -->

  <div id="page-content-wrapper">

      <div class="container-fluid">

          <h1>{{ title }}</h1>

          <div *ngFor="let p of pets">
            <p>{{ p.name }}</p>
            <p>{{ p.type }}</p>
            <p>{{ p.age }}</p>
          </div>

          <a (click)="toggled = !toggled" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>

      </div>

  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- SITE WRAPPER -->
